<center>

<section id="article">

<h1>編集画面</h1>


<div class="container">
<div class="row">
  
<div class="col-md-4">
  <%= attachment_image_tag @article.user, :icon, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", class:"icon" %>
  <%= @article.user.name %>
</div>

<div class="img">
  <% if @article.video? %>
     <% type = file_type(@article.video.url)%>
     <% if type == 'image' %>
         <%= image_tag @article.video.url, :size => "300x300" %>
     <% elsif type == 'video' %>
         <%= video_tag @article.video.url, autoplay: true, muted: true, controls: true, :size => "300x300" %>
     <% end %>
  <% end %>
  
  <%= form_with model:@article, local: true do |f| %>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    
    <h4>説明</h4>
    <%= f.text_area :body %>
    <br>
    <%= f.submit '編集' %>
  <% end %>
  
  <%= link_to "戻る", article_path(@article.id) %>
</div>

</div>
</div>

</section>

</center>
  
