<div class="mx-sm-2 mx-md-3 mx-lg-5 mb-3 pt-2 pb-5">
  <section>

    <div>
      <article class="d-flex flex-wrap justify-content-center">
        <section class="m-1">
          <header class="m-1">
            <%= attachment_image_tag @article.user, :icon, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size:'30x30', class: "border border-dark rounded-circle" %>
            <%= @article.user.name %>
          </header>

          <!-- 動画と画像で表示を分ける-->
          <% if @article.video? %>
            <% type = file_type(@article.video.url)%>
              <% if type == 'image' %>
                <%= image_tag @article.video.url, :size => "280x280" %>
              <% elsif type == 'video' %>
                <%= video_tag @article.video.url, autoplay: true, muted: true, controls: true, :size => "280x280" %>
              <% end %>
          <% end %>

          <div class="text-center m-1">
            <%= form_with model:@article, local: true do |f| %>

              <div class="form-group">
                <label for="inputTitle">タイトル</label>
                <br>
                <%= f.text_field :title, placeholder: "タイトル" %>
                <br>
                <label for="inputBody">説明</label>
                <br>
                <%= f.text_area :body, placeholder: "説明" %>
                <br>
                <label for="inputTag">タグ</label>
                <br>
                <%= f.text_area :caption, placeholder: "タグ" %>
              </div>
              <%= f.submit '編集' %>

            <% end %>
          </div>
        </section>
      </article>
    </div>

  </section>
</div>
