<div id="edit">
  <div class="edit">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <div class="card">
        <div class="card-image">
          <!-- 動画と画像で表示を分ける-->
          <% if @article.video? %>
            <% type = file_type(@article.video.url)%>
              <% if type == 'image' %>
                <%= image_tag @article.video.url, :size => "280x280" %>
              <% elsif type == 'video' %>
                <%= video_tag @article.video.url, autoplay: true, muted: true, controls: true, :size => "280x280" %>
              <% end %>
          <% end %>
        </div>
      </div>
      
      <div class="text-center text-white">
        <%= form_with model:@article, local: true do |f| %>
        
          <div class="form-group">
            <label for="inputTitle">タイトル</label>
            <br>
            <%= f.text_field :title, placeholder: "タイトル" %>
            <br>
            <label for="inputBody">説明</label>
            <br>
            <%= f.text_area :body, placeholder: "説明" %>
            <br>
            <label for="inputTag">タグ</label>
            <br>
            <%= f.text_area :caption, placeholder: "タグ" %>
          </div>
          <%= f.submit '編集' %>
          
        <% end %>
      </div>
    </div>
  </div>
</div>