<center>

<%= link_to "投稿検索", search_articles_path %>

<% @articles.each do |article| %>

<div>
  <%= attachment_image_tag article.user, :icon, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %>
  <%= article.user.name %>
</div>

<div>
  <%= link_to article_path(article.id) do %>
  <!-- 動画と画像で表示を分ける-->
  <% if article.video? %>
     <% type = file_type(article.video.url)%> <!-- app/helpers/application_helper.rbにfile_typeを定義 -->
     <% if type == 'image' %>
        <%= image_tag article.video.url, :size => "300x300" %>
     <% elsif type == 'video' %>
        <%= video_tag article.video.url, autoplay: true, muted: true, controls: true, :size => "300x300" %>
     <% end %>
  <% end %>
  <% end %>

  <!-- いいね機能 -->
  <% if article.liked_by?(current_user) %>
    <p>
      <%= link_to article_likes_path(article), method: :delete do %>
        ❤️ いいね! <%= article.likes.count %>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to article_likes_path(article), method: :post do %>
        ❤️ いいね! <%= article.likes.count %>
      <% end %>
    </p>
  <% end %>


</div>

<% end %>

<%= paginate @articles %>
<footer class="paginate">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="/articles" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="/articles">1</a></li>
          <li class="page-item"><a class="page-link" href="/articles?page=2">2</a></li>
          <li class="page-item"><a class="page-link" href="/articles?page=3">3</a></li>
          <li class="page-item">
            <a class="page-link" href="articles">Next</a>
          </li>
        </ul>
      </nav>
    </footer>
</center>
