<center>

<% @articles.each do |article| %>

<div>
  <%= attachment_image_tag article.user, :icon, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %>
  <%= article.user.name %>
</div>

<div>
  <%= link_to article_path(article.id) do %>
  <!-- 動画と画像で表示を分ける-->
  <% if article.video? %>
     <% type = file_type(article.video.url)%> <!-- app/helpers/application_helper.rbにfile_typeを定義 -->
     <% if type == 'image' %>
        <%= image_tag article.video.url, :size => "300x300" %>
     <% elsif type == 'video' %>
        <%= video_tag article.video.url, autoplay: true, muted: true, controls: true, :size => "300x300" %>
     <% end %>
  <% end %>
  <% end %>
  <br>
    <%= article.title %>
  <br>
  <%= article.body %>
  
  <!-- いいね機能 -->
  <% if article.liked_by?(current_user) %>
    <p>
      <%= link_to article_likes_path(article), method: :delete do %>
        ❤️ いいね! <%= article.likes.count %>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to article_likes_path(article), method: :post do %>
        ❤️ いいね! <%= article.likes.count %>
      <% end %>
    </p>
  <% end %>
</div>

<% end %>

<%= paginate @articles %>
</center>
