<div id="articlenew">
  <div class="main">
    <article>
      
      <header class="article text-center">
        <h3>NEW POST</h3>
      </header>
      
      <div class="article text-center">
        <%= form_with model: @article, local:true do |f| %>
        
          <%= f.file_field :video, :accept => 'video/*,image/jpeg,image/gif,image/png,image/' %>
          
          <div class="form-group">
            <label for="inputTitle">タイトル</label>
            <br>
            <%= f.text_field :title, placeholder: "タイトル" %>
            <br>
            <label for="inputBody">説明</label>
            <br>
            <%= f.text_area :body, placeholder: "説明" %>
            <br>
            <label for="inputTag">タグ</label>
            <br>
            <%= f.text_field :tag, placeholder: "タグ" %>
          </div>
          <%= f.submit '投稿' %>
          
        <% end %>
      </div>
      
    </article>
  </div>
</div>




