<div id="useredit">
  <div class="useredit">
    <div class="text-center text-white">
      <%= form_with model:@user, local:true do |f| %>
        
        <%= attachment_image_tag @user, :icon, :fill, 150, 150, fallback: "no_image.jpg", size:'150x150', class: "border border-dark rounded-circle" %>
        
        <div class="form-group">
          <label for="inputImage">プロフィール写真</label>
          <br>
          <%= f.attachment_field :icon %>
          <br>
          <label for="inputName">名前</label>
          <br>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder: "名前" %>
          <br>
          <label for="inputBody">自己紹介</label>
          <br>
          <%= f.text_field :body, autofocus: true, id:"inputBody", placeholder: "自己紹介" %>
          <br>
          <label for="inputEmail">メールアドレス</label>
          <br>
          <%= f.text_field :email, autofocus: true, id:"inputEmail", placeholder: "メールアドレス" %>
        </div>
        <%= f.submit "変更を保存" %>
        <%= link_to '退会する', unsubscribe_users_path, class: "text-danger" %>
          
      <% end %>
    </div>
  </div>
</div>