<div id="follow">
  <header class="text-center p-3">
    <ul class="nav justify-content-end">
      <li class="nav-item shadow border m-1">
        <%= link_to search_users_path, class: "nav-link text-dark" do %>
          <%= icon 'fas', 'search-plus' %>
        <% end %>
      </li>
    </ul>
  </header>

  <div class="follow">
    <header class="text-center text-white">
      <h3>FOLLOWERS</h3>
    </header>

    <div class="d-flex flex-wrap justify-content-center">
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <div class="card p-0">
            <div class="card-image">
              <%= attachment_image_tag user, :icon, fallback: "no_image.jpg" %>
            </div>
            <div class="card-content d-flex flex-column align-items-center justify-content-center">
              <h2 class="text-white">
                <%= user.name %>
              </h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>