<div>
  <%= form_with url: search_users_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div>
  <% if @keyword == nil %>
    検索
  <% elsif %>
    <% @users.each do |user| %>
      <%= link_to user.name, user_path(user.id) %>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to "戻る", user_path(current_user.id) %>
</div>