<div id="search">
  <div class="text-center pt-5">
    <%= form_with url: search_users_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword, placeholder: "User Name" %>
        
      <%= f.submit "検索" %>
    <% end %>
  </div>
    
  <div class="usersearch">
    <% if @keyword == nil %>
    
    <% elsif %>
        
      <div class="d-flex flex-wrap justify-content-center">
        <% @users.each do |user| %>
          <%= link_to user_path(user) do %>
            <div class="card p-0">
              <div class="card-image">
                <%= attachment_image_tag user, :icon, fallback: "no_image.jpg" %>
              </div>
              <div class="card-content d-flex flex-column align-items-center justify-content-center">
                <h2 class="text-white">
                  <%= user.name %>
                </h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    
    <% end %>
  </div>
</div>