<% if admin_signed_in? %>

  <div id="news">
    <div class="news">
      <center class="text-white p-5">
        <%= form_for(@new, url: news_index_path, method: :new) do |f| %>
        
          <%= f.attachment_field :image %>
          
          <div class="form-group">
            <label for="inputTitle">対戦</label>
            <br>
            <%= f.text_field :title, placeholder: "対戦" %>
            <br>
            <label for="inputScore">スコア</label>
            <br>
            <%= f.text_field :score, placeholder: "スコア" %>
            <br>
            <label for="inputLeague">リーグ</label>
            <br>
            <%= f.text_field :league, placeholder: "リーグ" %>
          </div>
          <%= f.submit '投稿' %>
          
        <% end %>
      </center>
      
      <div class="container">
        <div class="row border">
          <% @news.each do |new| %>
            <div class="col-md-6 border">
              <center class="pt-3 pb-3">
                <%= link_to news_path(new.id) do %>
                  <%= attachment_image_tag new, :image, :fill, 500, 350 %>
                <% end %>
              </center>
              
              <h4 class="text-center text-white m-1">
                <%= new.title %>
              </h4>
              
              <h1 class="text-center text-white m-1">
                <%= new.score %>
              </h1>
              
              <h6 class="text-center text-white m-1">
                <%= new.league %>
              </h6>
              
              <small class="d-flex flex-nowrap text-white">
                <%= new.created_at.strftime('%Y/%m/%d') %>
              </small>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% else %>

  <div id="news">
    <div class="news">
      <div class="container">
        <div class="row border">
          <% @news.each do |new| %>
            <div class="col-md-6 border">
              <center class="pt-3 pb-3">
                <%= attachment_image_tag new, :image, :fill, 500, 350 %>
              </center>
              
              <h4 class="text-center text-white m-1">
                <%= new.title %>
              </h4>
              
              <h1 class="text-center text-white m-1">
                <%= new.score %>
              </h1>
              
              <h6 class="text-center text-white m-1">
                <%= new.league %>
              </h6>
              
              <small class="d-flex flex-nowrap text-white">
                <%= new.created_at.strftime('%Y/%m/%d') %>
              </small>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>
