<!-- Header -->
	<header class="header">
		<div >

			<!-- Navigation -->
			<nav class="navbar navbar-light bg-dark sticky-top">
			  <div class="container-fluid">
			    <!-- Logo -->
			    <div class="navbar-brand">
			      <%= link_to root_path, class: "logo pull-left mt-95 ml-95 mb-95" do %>
			    	  <%= image_tag 'logo.jpg',  width:"50", height:"50" %>
			      <% end %>
			    </div>
			    <!-- Nav -->
			    <button class="navbar-toggler-white" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-controls="navbar">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarResponsive">
			      <ul class="navbar-nav pull-right text-right">
			        <% if user_signed_in? %>
			          <li class="nav-item pull-left mt-0 mr-20 mb-0 ml-20">
			            <%= link_to "MyPage", user_path(current_user.id), class: "nav-link text-white" %>
			          </li>
			          <li class="nav-item pull-left mt-0 mr-20 mb-0 ml-20">
			            <%= link_to "NewPost", new_article_path, class: "nav-link text-white" %>
			          </li>
			          <li class="nav-item pull-left mt-0 mr-20 mb-0 ml-20">
			            <%= link_to "AllPost", articles_path, class: "nav-link text-white" %>
			          </li>
			          <li class="nav-item pull-left mt-0 mr-20 mb-0 ml-20">
			            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
			          </li>
		          <% else %>
			          <li class="nav-item pull-left mt-0 mr-20 mb-0 ml-20">
			            <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-white" %>
			          </li>
			          <li class="nav-item pull-left mt-0 mr-20 mb-0 ml-20">
			            <%= link_to "ログイン", new_user_session_path, class: "nav-link text-white" %>
			          </li>
			         <% end %>
			      </ul>
			    </div>
			  </div>
			</nav>

		</div>
	</header>
	
	<footer>

  <div class="footer fixed-bottom bg-dark text-center text-dark p-2">
    <div class="container-fluid">
      <small class="text-white">
        (c)2021 Japan Lacrosse Miccle
      </small>
    </div>
  </div>

</footer>